body{
    font-size: 20px;
    background-color:aliceblue ;
    font-family: "Urbanist",
        sans-serif;
}

h2{
    text-align: center;
}

container{
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}
input[type="submit"] {
    background-color: #2d2e5f; /* Cor de fundo */
    color: rgb(204, 211, 255); /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Remover a borda padrão */
    border-radius: 100px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de ponteiro */
    font-size: 16px; /* Tamanho da fonte */
    transition: background-color 0.3s ease; /* Transição suave */
  }
  
  input[type="submit"]:hover {
    background-color: rgb(204, 211, 255); /* Cor de fundo no hover */
    color: #2d2e5f;
  }

  .form{
    background-color: blue;
  }