body{
    background-color:rgb(255, 219, 240);
}

/* classe para estilizar os botões*/
.botao{
    background-color:rgb(231, 180, 255);
    border: 2px solid rgb(88, 41, 116);
    border-radius: 15%;
    padding: 0.4%;
    margin: 1%;
    margin: 0.5%;
    font-size:xx-large;
}

.botao:hover{
    background-color:rgb(156, 50, 151) ;
    transition-duration: 1s;
    
}

a{
    text-decoration: none;
    color: black;
}

.titulo{
    text-align: center;
    margin-top: 3%;
}

.container{
    margin: auto;
    margin-top: 13%;
    display: grid;
    place-items: center;
    background-color: rgb(137, 0, 250);
    width: max-content;
    height: 350px;
    padding:3%;
    border:2px solid rgb(73, 32, 92);
    border-radius:30px;
}

